django-lux[updater] @ https://files.pythonhosted.org/packages/69/3e/adb60c356035215bad74531bae4ef0545b23f43d53d0f61edbced5c721fd/django_lux-1.9.4-py3-none-any.whl#sha256=585544842b952d1145be5c18dcd64f369d1f75d83c6733ea17b5a6dde2f6cfe3
django-lux[updater]==1.9.4
django-cors-headers
django-csp
gunicorn
psycopg2-binary
redis
django-redis
celery
django-celery-beat
django-health-check==3.20.0
openpyxl==3.1.5
